*, ::after, ::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#case {
    padding: 30px 30px;
    background-image: url("res/Case.png");
    background-size: 134% 127%;
    background-position: center;
    border-radius: 87px;
    width: 320px;
    filter: drop-shadow(30px 30px 10px rgba(0,0,0,0.3));
}

main > section:first-child {
    filter: drop-shadow(30px 30px 20px rgba(0,0,0,0.3));
}

#output {
    padding: 10px;
    height: 115px;
    border: 0px solid #644522;
    border-radius: 40px 40px 10px 10px;
    line-height: 30px;
}

#buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    background-image: url("res/button.png");
    background-size: 125%;
    border-radius: 100px;
    width: fit-content;
    color: white;
    width: 20%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 5px;
    font-weight: bold;
    height:max-content;
    background-position: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    box-shadow: none;
}

.button:active {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#result {
    text-align: right;
    word-wrap: break-word;
}

@media screen and (max-width: 331px) {
    .button {
        padding: 5px;
        margin: 5px;
        width: 17%;
        min-height: 37px;
    }
}